body {
  margin: 0;
  font-family: "Lexend", sans-serif;
}

.slider-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #F0F0F0;
}

nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navlogo {
  width: 100px;
  height: auto;
}

.section-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.videos-container,
.albums {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}


.video-iframe {
  width: 90%;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 32px rgba(0,0,0,0.20); 
  border: none;
  transition: box-shadow 0.3s;
}

.video-iframe:hover {
  box-shadow: 0 16px 32px rgba(0,0,0,0.30);
} 

.youtube-icon {
  width: 45px;
  height: 45px;
  cursor: pointer;
  padding-bottom: 10px;
}

.user-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: #F0F0F0;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  margin-top: 25px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  box-shadow: 0 8px 24px rgba(0,0,0,0.50); 
}

.verified {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  gap: 8px;
}

.album-container {
  padding: 10px;
}

.album-cover {
  width: 100%;                 
  height: auto;     
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0,0,0,0.20); 
  display: block;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.form-inputs {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
}

.logo {
  width: 250px;
  height: auto;
  margin: 20px auto;
}

.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #FEFEFE;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}

.login-container input,
.login-container button {
  padding: 10px;
  font-size: 1rem;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  border: none;
  border-bottom: 1px solid #ccc;
}

.login-container button,
.update-btns {
  background-color: #197319;
  color: #FEFEFE;
  border: 1px solid #ccc;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  height: 50px;
}

.update-btns {
  margin-top: 20px;
  width: 150px;
}

.update-btns:hover {
  background-color: #006400;
  transition: background-color 0.3s;
}

.form-container input[type="file"]::file-selector-button {
  padding: 10px;
  border: none;
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.form-container input[type="file"]::file-selector-button:hover {
  padding: 10px;
  border: none;
  background-color: #197319;
  color: #FEFEFE;
  border-radius: 10px;
  font-weight: bold;
}

textarea {
  resize: none;
}

.login-container button:hover {
  background-color: #006400;
  transition: background-color 0.3s;
}

.cassette {
  width: 100px;
}

.google-sign {
  width: 300px;
  height: 50px;
  color: #FEFEFE;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sectiontitle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.section-titles {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icons-btns {
  border: none;
  background: none;
  cursor: pointer;
}
